{% load crispy_forms_tags %}
<div class="container">
    
<div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Make Order
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <input class="btn btn-primary btn-block" type="submit" value="Make Order">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Orders Records
                </div>
                <div class="card-body">

                    {% if staff_orders %}
                    <table class="table bg-white">
                        <thead class="bg-primary text-white">
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Category</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                           {% for order in staff_orders %}
                            <tr>
                                <td>{{order.product.name}}</td>
                                <td>{{order.product.category}}</td>
                                <td>{{order.order_qty}}</td>
                                <td>{{order.date | date:"d-m-Y"}}</td>
                            </tr>
                           {% endfor %}
                            
                        </tbody>
                    </table>
                    {% else %}
                        <h3>Make your first order plz.</h3>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
</div>